/**
 * @file
 * Custom variables
 */

/* Colors
-------------------------------------------------------------- */
$color-darkblue: #012A3A;
$color-blue: #003954;
$color-white: #fff;
$color-offwhite: rgba(255,255,255,0.75);


/* Fonts
-------------------------------------------------------------- */
$font-family-fauna-one: 'Fauna One', serif;
$font-family-playfair-display: 'Playfair Display', serif;


/* Breakpoints
-------------------------------------------------------------- */
$mobile: 400px;
$tablet: 768px;
$desktop: 900px;
